.main-content {
  padding-top: 85px;
  border: 1px solid #e1e0e0;
}

.card {
  flex-direction: column;
  margin-bottom: 30px;
}

.card img {
  margin-bottom: 1rem;
}

.card .card-content {
  flex-direction: column;
}

.card .card-content .card-btn {
  width: 11.6em;
  height: 2.5em;
  font-size: 1em;
  color: var(--clr3);
  border: 1px solid #777;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  position: relative;

  transition: all 0.4s;
}

.card .card-content .card-btn:hover {
  width: 12.25em;
  padding-inline-end: 1.25em;
  color: var(--hover-clr);
  border-color: var(--hover-clr);
}

.card-content .card-btn::after {
  position: absolute;
  opacity: 0;

  transition: opacity 0.1s;
}

.card-content .card-btn:hover::after {
  right: 0.8em;
  content: '→';
  opacity: 1;
}
